<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="ambulanceListForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Vehicle No</mat-label>
            <input matInput formControlName="vehicle_no" required>
            <mat-icon matSuffix>pin</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('vehicle_no').hasError('required')">
              Vehicle No is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Vehicle Name</mat-label>
            <input matInput formControlName="vehicle_name" required>
            <mat-icon matSuffix>airport_shuttle</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('vehicle_name').hasError('required')">
              Vehicle Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Year Made</mat-label>
            <input matInput formControlName="year_made" type="number" required>
            <mat-icon matSuffix>event_note</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('year_made').hasError('required')">
              Year Made is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Driver Name</mat-label>
            <input matInput formControlName="driver_name" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_name').hasError('required')">
              Driver Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Driver License No</mat-label>
            <input matInput formControlName="driver_license_no">
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_license_no').hasError('required')">
              Driver License No is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Driver Contact No</mat-label>
            <input matInput formControlName="driver_no" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="ambulanceListForm.get('driver_no').hasError('required')">
              Driver No is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Vehicle Type</mat-label>
            <mat-select formControlName="vehicle_type" required>
              <mat-option [value]="'Owned'">
                Owned
              </mat-option>
              <mat-option [value]="'Contractual'">
                Contractual
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!ambulanceListForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
