<div>
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            Update Profile</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <!-- Form Update Profile for Doctor -->
    <form [formGroup]="formdata" (submit)="updateProfile()" *ngIf="!userData.role!">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card p-3">
            <div class="body">
              <div class="row">
                <div align="right" class="col-12 mb-4">
                  <button mat-raised-button color="primary" [disabled]="!formdata.valid || updateProfileLoading" [class.auth-spinner]="updateProfileLoading">
                    <!-- <mat-spinner class="my-1" *ngIf="updateProfileLoading" mode="indeterminate" [diameter]="30"></mat-spinner> -->
                    Save
                  </button>
                </div>
              </div>
              <div class="row">
                <!-- Select Role -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role" required>
                      <mat-option value="doctor">Doctor</mat-option>
                      <mat-option value="patient">Patient</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formdata.get('role').hasError('required')">
                      Role is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Email -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input readonly matInput formControlName="email" required>
                    <!-- <mat-error *ngIf="formdata.get('email').hasError('required')">
                      Email is required
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <!-- First Name -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" required>
                    <mat-error *ngIf="formdata.get('firstName').hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Last Name -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" required>
                    <mat-error *ngIf="formdata.get('lastName').hasError('required')">
                      Last name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Gender -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option value="male">
                        Male
                      </mat-option>
                      <mat-option value="female">
                        Female
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formdata.get('gender').hasError('required')">
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Mobile -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input disabled matInput formControlName="mobile" required>
                    <mat-error *ngIf="formdata.get('mobile').hasError('required')">
                      First name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Address -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                    <mat-error *ngIf="formdata.get('address').hasError('required')">
                      Address is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Date of Birth -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formdata.get('dateOfBirth').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Update Doctor Component -->
                <update-doctor (doctorValue)="applyDoctorOrPatientValue($event)" *ngIf="formdata.get('role').value == 'doctor'"></update-doctor>
                <!-- Update Patient Component -->
                <update-patient (patientValue)="applyDoctorOrPatientValue($event)" *ngIf="formdata.get('role').value == 'patient'"></update-patient>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>