<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="birthForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Case No</mat-label>
            <input matInput formControlName="case_no" required>
            <mat-icon matSuffix>receipt</mat-icon>
            <mat-error *ngIf="birthForm.get('case_no').hasError('required')">
              Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Child Name</mat-label>
            <input matInput formControlName="child_name" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="birthForm.get('child_name').hasError('required')">
              Child Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="m-b-20">
            <mat-label class="msr-3">Gender:</mat-label>
            <mat-radio-group aria-label="Select gender" formControlName="gender" required>
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <mat-radio-button value="Other">Other</mat-radio-button>
              <mat-error *ngIf="birthForm.get('gender').hasError('required')">
                Select gender
              </mat-error>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthForm.get('birth_date').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mother Name</mat-label>
            <input matInput formControlName="mother_name" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="birthForm.get('mother_name').hasError('required')">
              Mother Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Father Name</mat-label>
            <input matInput formControlName="father_name" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="birthForm.get('father_name').hasError('required')">
              Father Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="birthForm.get('mobile').hasError('required')">
              Mobile is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!birthForm.valid"
              [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
